# .NET build artifacts
bin/
obj/

# Visual Studio / VS Code
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
.DS_Store
Thumbs.db
/.vs
/src/AppGateway/ui/dist
/src/AppGateway/ui/dist/index.html
